.inside-slider>div>p {
    color: white;
}

.inside-slider>div>button {
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-top: 20px;
}

.inside-slider>div>button:hover {
    background-color: rgb(172, 164, 164);
}

#sec-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sec-nav-menu>a {
    font-size: 15px;

    padding: 10px;
}
#card-container{
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
}
#card-container>div>img{
    width: 100%;
    border-radius: 30px;
}
#card-container>div>p{
    font-size: 15px;
}
#card-container>div>h1{
    font-size: 25px;
}
#card-container>div>button{
    background-color: white;
    padding: 10px;
    color: black;
    border: 1px solid gray;
    margin-left: 10px;
    font-size: 15px;
}

#card-container>div>button:hover{
    background-color: rgb(226, 216, 216);
    cursor: pointer;
}
#explore-footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.explore_btn{
    padding: 10px;
    background-color: #fff;
    color: black;
    border: 1px solid gray;
    margin-left: 10px;
    font-size: 20px;
}
.explore_btn:hover{
    background-color: rgb(226, 216, 216);
    cursor: pointer;
}
#bgc_image{
    background-image: url("https://images.samsung.com/is/image/samsung/assets/in/explore/explore_main_feature-full-bleed_pc_1440x790.jpg?$FB_TYPE_A_JPG$");
    width: 100%;
    height: 800px;
    margin-top: 20px;
}
#bgc_image-content{
    width: 100%;
    height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: auto;
    color: white;
    line-height: 1.5;
}
#bgc_image-content>p{
    color: white;
    font-size: 17px;
}
#bgc_image-content>h2{
    font-size: 50px;
}
#bgc_image-content>button{
    margin-top: 12px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#bgc_image-content>button:hover{
    background-color: rgba(255, 255, 255, 0.274);
}
#card-container>div>img:hover{
    transition: 0.3s;
    cursor: pointer;
transform: scale(1.02);
}